<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main-block h1{
        text-align: center;
        padding: 10px 0;
    }
     .flex-block{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
     }
     .box{
        width: 100%;
        max-width: 300px;
        gap: 30px;
        border: 1px solid black;
        padding: 10px 10px;
        text-align: center;
     }
     .box-image{
        width: 100%;
     }
     .box-image img{
        width: 100%;
        object-fit: cover;
     }
     .box button{
        width: 100%;
        padding: 10px 0;
     }

     @media only screen and (max-width: 767px){
        .flex-block{
            flex-direction: column;
        }
        .box{
            width: 100%;
        }
     }


</style>
<section>
    <div class="main-block">
   <h1>{{ section.settings.sec-title }}</h1>
     <div class="flex-block">
        {% for block in section.blocks %}
            {%  assign product = block.settings.product %} 
        <div class="box">
            <div class="box-image">
            <img src="{{ product.featured_image |  img_url: 'master' }}" alt="">
            </div>
            <h5>{{ product.title }}</h5>
            <p>{{ product.price |  money }}</p>
            <a href="{{ block.settings.btn-url }}">
                <button>View Product</button>
            </a>
        </div>
        {% endfor %}
     </div>
    </div>
</section>

{% schema %}
{
    "name": "image-text-2",
    "settings": [
        {
            "type": "text",
            "id": "sec-title",
            "label": "Section Title"
        }
        ],
        "blocks":[
            {
                "type": "product",
                "name": "Add Product",
                "settings":[
                   {
                    "type": "product",
                    "id": "product",
                    "label": "Add Product"
                   }
        ]
}
        ],
        "presets": [
            {
                "name": "image-text-2"
            }
        ]
}
{% endschema %}