<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .image-collection{
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 0;
    }
    .image-block{
        width: 50%;
        height: auto;
        position: relative;
    }
    .image-block img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text-box{
        width: 100%;
        max-width: 400px;
        background-color: #d3cabf;
        padding: 20px 40px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .text-box h5{
        color: #2c2a25;
        padding: 10px 0;
        font-size: 20px;
    }
    .text-box p{
        color: #6d4f59;
        padding: 10px 0;
    }
    .text-box a{
        padding: 10px 0;
    }
    .text-box a button{
        color: #516a6a;
        background-color: white;
        padding: 10px 30px;
        border: none;
    }
    .collection-block{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 0 20px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .collection-box{
        width: 50%;
        padding: 0 20px;
    }
    .collection-box img{
        width: 100%;
    }
</style>
<section>
    <h1>{{ section.settings.main-title }}</h1>
    <div class="image-collection">
        <div class="image-block">
            <img src="{{ section.settings.sec-image |  img_url: 'master' }}" alt="loading image">
            <div class="text-box">
                 <h5>{{ section.settings.box-title }}</h5>
                 <p>{{ section.settings.box-text }}</p>
                 <a href="section.settings.sec-url">
                 <button>SHOP GIFT CARDS</button></a>
            </div>
        </div>
        <div class="collection-block">
            {% assign collection = section.settings.featured_collection %}
            {% for product in collection.products limit:4 %}
                <div class="collection-box">
                <img src="{{ product.featured_image |  img_url: 'master' }}" alt="loading image">
             <a href="{{ section.settings.collec-url }}">  <button>ADD TO CART</button> </a> 
                <h3>{{ product.title }}</h3>
                <p>{{ product.price |  money }}</p>
                </div>
                {% endfor %}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "image-collection",
    "settings": [
        {
            "type": "text",
            "id": "main-title",
            "label": "Section Title"
        },
        {
            "type": "image_picker",
            "id": "sec-image",
            "label": "Section Image"
        },
        {
            "type": "text",
            "id": "box-title",
            "label": "Box Title"
        },
        {
            "type": "textarea",
            "id": "box-text",
            "label": "Box Text"
        },
        {
            "type": "url",
            "id": "sec-url",
            "label": "Section Url"
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Add Collection"
        },
        {
            "type": "url",
            "id": "collec-url",
            "label": "Collection Button URL"
        }
        ],
        "presets": [
            {
                "name": "image-collection"
            }
        ]
}
{% endschema %}